<div class="mb-3" [formGroup]='parentForm' *ngIf="!field.config.hidden">
    <label [for]="field.id" class="">{{field.config.label}}</label>
    <div class="input-group">
        <input [id]="field.id" class="form-control" [type]="field.config.type" [placeholder]="field.config.placeholder"
            [formControlName]="field.id" [ngClass]="{'is-invalid': hasError ,'is-valid': !invalid}">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
</div>