<div class="form-row" [formGroup]='parentForm' *ngIf="!field.config.hidden">
    <label class="form-label" [for]="fieldName">
        <span class="is-required">
            {{ field.config.label }}xxxx
        </span>
    </label>
    <div class="input-with-button-wrapper">
        <input class="form-control" [ngClass]="{
				'is-invalid':
					formField?.invalid
					&& formField?.dirty
			}" [name]="fieldName" [id]="fieldName" [type]="passwordFieldType" [value]="value" [formControlName]="field.id"
            (input)="onChange( $event )" (blur)="touched()">


    </div>
</div>